//
//  authConfig.example.xcconfig
//  Combine-VIPER
//
//  Created by Cam on 13/12/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API3_BASE_URL = https:/$()/api.themoviedb.org/3
IMAGE_BASE_URL = https:/$()/image.tmdb.org/t/p/w500
API_KEY = 
